<form action="/">
  <input class="btn btn-dark" type="submit" value="Back">
</form>

<h2 class="mb-3"> <%= @listing.name %> </h2>
<h4 class="mb-3"> Hosted by: <%= @host_user.name %> </h4>

<div class="sign-in my-2">
  Description: <%= @listing.description %>
<br>
  Price per night: <%= @listing.price %>
<br>
  Location: <%=@listing.location %>
<br>
  Availabilty: <%= @listing.available_date %>
</div>
<br>

<% if @user && @user.id == @listing.user_id %>
  <form action="/listing/<%= @listing.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-dark btn-sm" type="submit" value="Delete">
  </form>

<% elsif @user %>

  <form action="/booking-request/new" method="post">
    <input type="hidden" name="listing" value=<%= @listing.id %>>
    <input class="btn btn-dark btn-sm" type="submit" value="Request to Book">
  </form>

  <% else %>
  Log in to book
<% end %>
