<input class="btn btn-dark" type="button" value="Back" onclick="history.back()">

<h2 class="mb-3"> <%= @listing.name %> </h2>
<h4 class="mb-3"> Hosted by: <%= @host_user.name %> </h4>
<img src='../public<%=@image.image.url %>' />
<div class="sign-in my-2">
  Description: <%= @listing.description %>
<br>
  Price per night: <%= @listing.price %>
<br>
  Location: <%=@listing.location %>
<br>
  Availabilty: <%= @listing.available_date %>
</div>

<% if @user %>
  <form action="#" method="post">
    <input type="hidden" name="peep_id" value="#">
    <input class="btn btn-dark btn-sm" type="submit" value="Delete">
  </form>
<% end %>
